<!DOCTYPE html>
<head th:replace="adminbaseh"></head>

        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-md-12 grid-margin">
                <div class="row">
                  <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                    <h3 class="font-weight-bold" th:inline="text">Hi Admin</h3>
                    <h6 class="font-weight-normal mb-0">
                      All systems are running smoothly!
                    </h6>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer th:replace="userbasef"></footer>