<!DOCTYPE html>
<head th:replace="userbaseh"></head>

        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-md-12 grid-margin">
                <div class="row">
                  <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                    <h3 class="font-weight-bold" th:inline="text">Hi [[${participant.firstName}]]</h3>
                    <h6 class="font-weight-normal mb-0" th:text="${userRole}">
                      All systems are running smoothly! You have
                      <span class="text-primary">3 unread alerts!</span>
                    </h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              
              <div class="col-md-12 grid-margin transparent">
                <div class="row">
                  <div th:if="${not #lists.isEmpty(subEvents)}" class="col-md-3 mb-4 stretch-card transparent">
                    <div class="card card-tale">
                      <div class="card-body">
                        <p class="mb-4">Today’s Highlight</p>
                        <p class="fs-30 mb-2" th:text="${subEvents[0].subEventName}"></p>
                        <p th:inline="text">Venue : [[${subEvents[0].venue}]]</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 mb-4 stretch-card transparent">
                    <div class="card card-dark-blue">
                      <div class="card-body">
                        <p class="mb-4">Total Events</p>
                        <p class="fs-30 mb-2" th:text="${countsubevents}">61344</p>
                        <p>Enjoy them!</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 mb-4 stretch-card transparent">
                    <div class="card card-light-blue">
                      <div class="card-body">
                        <p class="mb-4">Prizes Worth</p>
                        <p class="fs-30 mb-2" th:text="${prizes}">34040</p>
                        <p>Grab 'em all</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 mb-4 stretch-card transparent">
                    <div class="card card-light-danger">
                      <div class="card-body">
                        <p class="mb-4">Number of Participants</p>
                        <p class="fs-30 mb-2" th:text="${countparticipants}">47033</p>
                        <p>and counting . . .</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="container">                      
                      <div class="row text-center justify-content-center mb-5">
                          <div class="col-xl-6 col-lg-8">
                              <h2 class="font-weight-bold">Events Timeline</h2>
                              <p class="text-muted">Recent upcoming events</p>
                          </div>
                      </div>
                  
                      <div class="row">
                          <div class="col">
                              <div class="timeline-steps aos-init aos-animate" data-aos="fade-up">
                                  <div class="timeline-step" th:each="re,i:${recentevents}" th:if="${i.index le 5}">
                                      <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2003">
                                          <div class="inner-circle"></div>
                                          <p class="h6 mt-3 mb-1" th:text="${#dates.format(re.startDate, 'dd-MM-yyyy')}"></p>
                                          <p class="h6 text-muted mb-0 mb-lg-0" th:text="${re.subEventName}"></p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-12 grid-margin stretch-card">
                <div class="card" th:if="${not #lists.isEmpty(subEvents)}">
                  <div class="card-body">
                    <p class="card-title mb-0">Events today</p>
                    <div class="table-responsive">
                      <table class="table table-striped table-borderless">
                        <thead>
                          <tr>
                            <th>Event Name</th>
                            <th>Venue</th>
                            <th>From - To</th>
                            <th>Under</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr th:each="subEvent,i: ${subEvents}">
                            <td th:text="${subEvent.subEventName}"></td>
                            <td th:text="${subEvent.venue}"></td>
                            <td th:inline="text">[[${#dates.format(subEvent.startDate, 'dd-MM-yyyy')}]] to [[${#dates.format(subEvent.endDate, 'dd-MM-yyyy')}]]</td>
                            <td th:text="${correspondingevents[i.index].eventName}"></td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>

            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Throwback</h4>
                <div class="owl-carousel owl-theme full-width">
                  <div class="item">
                    <div class="card text-white">
                      <img class="card-img" src="images/carousel/salim.png" alt="Card image">
                      <div class="card-img-overlay d-flex">
                        <div class="mt-auto text-center w-100">
                          <h3>Salim Sulaiman</h3>
                          <h6 class="card-text mb-4 font-weight-normal">Concert in Varanasi, IIT(BHU).</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="card text-white">
                      <img class="card-img" src="images/carousel/banner_5.jpg" alt="Card image">
                      <div class="card-img-overlay d-flex">
                        <div class="mt-auto text-center w-100">
                          <h3>Bike Stunts</h3>
                          <h6 class="card-text mb-4 font-weight-normal">Kashiyatra.</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="card text-white">
                      <img class="card-img" src="images/carousel/banner_6.jpg" alt="Card image">
                      <div class="card-img-overlay d-flex">
                        <div class="mt-auto text-center w-100">
                          <h3>Ritviz</h3>
                          <h6 class="card-text mb-4 font-weight-normal">Concert in Varanasi, IIT(BHU).</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="card text-white">
                      <img class="card-img" src="images/carousel/banner_7.jpg" alt="Card image">
                      <div class="card-img-overlay d-flex">
                        <div class="mt-auto text-center w-100">
                          <h3>Zakir Khan</h3>
                          <h6 class="card-text mb-4 font-weight-normal">Standup Comedy Performance.</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="card text-white">
                      <img class="card-img" src="images/carousel/banner_8.jpg" alt="Card image">
                      <div class="card-img-overlay d-flex">
                        <div class="mt-auto text-center w-100">
                          <h3>Rahat Indori</h3>
                          <h6 class="card-text mb-4 font-weight-normal">Kavi Sammelan in Varanasi, IIT(BHU).</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer th:replace="userbasef"></footer>