<!DOCTYPE html>
<head th:replace="userbaseh"></head>
<div class="main-panel">
  <div class="content-wrapper">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">LeaderBoard</h4>
            <p class="card-description" th:inline="text">
              Results of [[${c.competitionName}]] held under [[${s.subEventName}]], [[${e.eventName}]]
            </p>
            <p class="code">
              If your position does not display, the competition results are not out yet
            </p>
            <hr>
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Position</th>
                    <th>Email</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="participant: ${leaderboard}">
                    <td th:text="${participant.leaderBoardPosition}"/>
                    <td th:text="${participant.participantEmail}" />
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        
    </div>
</div>
<footer th:replace="userbasef"></footer>