<!DOCTYPE html>
<head th:replace="organiserbaseh"></head>
<a th:href="@{addsubevent}" type="button" style="position: fixed; bottom: 20px;right: 30px;z-index: 99;" class="btn btn-primary btn-icon-text">
  <i class="icon-plus btn-icon-prepend"></i>
  Add Sub-Event
</a>
<div class="main-panel">
  <div class="content-wrapper">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Sub Events</h4>
            <p class="card-description">
              Sub-events of the event<code th:text="${event.eventName}"></code>
            </p>
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Sub-Event Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Venue</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="subEvent: ${subEvents}">
                    <td th:text="${subEvent.subEventName}" />
                    <td th:text="${#dates.format(subEvent.startDate,'dd-MM-yyyy')}" />
                    <td th:text="${#dates.format(subEvent.endDate,'dd-MM-yyyy')}" />
                    <td th:text="${subEvent.venue}" />
                    <td><a th:href="@{{id}/delsubEvent(id=${subEvent.subEventId})}" class="btn btn-danger btn-sm">Delete</a>  <a th:href="@{{id}_viewcompetitions(id=${subEvent.subEventId})}" class="btn btn-dark btn-sm">View Competitions</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        
    </div>
</div>
<footer th:replace="userbasef"></footer>